@media (max-width: 1200px)
{
	/* It is normal web page */
    header
    {
        margin: 5px;
    }
	
}
@media screen and (max-width: 479px) {
/* start of phone styles */
    body
	{
		margin: 5px;
	}
	.catbox
	{
		height: 146px;
		width: 146px;
		position: relative;
		
	}
}
