@media (max-width: 1200px)
{
	/* It is normal web page */
    header
    {
        margin: 5px;
    }
	
}
@media screen and (max-width: 479px) {
/* start of phone styles */
    body
	{
		margin: 5px;
	}
	.catbox
	{
		height: 160px;
		width: 160px;
		position: relative;
		margin: 5px;
	}
	.catbox span
	{
		height: 20px;
		line-height: 20px;
		bottom: 10px;
		font-size: 10px;
	
	}
	.prod-box
	{
		width: 165px;
		height: 210px;
		margin: 5px;
	}
	.prod-box:hover .prod-feature
	{
		margin-top: 90px;
	}
	.prod-feature input
	{
		width: 90px;
		height: 25px;
		font-size: 15px;
	}
	.offer
	{
		width: 100%;
		margin: 7px;
	}
	.fpart1
	{
		width: 95%;
		text-align: justify;
	}
	.fpart2
	{
		width: 50%;
	}
}
