@media (max-width: 1200px)
{
	/* It is normal web page */
    header
    {
        margin: 5px;
    }
	
}
@media screen and (max-width: 479px) {
/* start of phone styles */
    body
	{
		margin: 5px;
	}
	.catbox
	{
		height: 160px;
		width: 160px;
		position: relative;
		margin: 5px;
	}
	.catbox span
	{
		height: 20px;
		line-height: 20px;
		bottom: 10px;
		font-size: 10px;
	
	}
}
