@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body  
{
        padding: 0;
        margin: 0;
        font-family: 'Poppins' sans-serif;
        background-color: gainsboro;
        background-size: cover;
        background-position: center;
        

}

/* --------Header -------- */
header 
{
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;    
    background-color:#55DBD2;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0.2);
    
    
}

.logo 
{
    height: 60px;
    width: 60px;
    font-size: 36px;
    line-height: 60px;
    margin: 0 20px;
    cursor: pointer;
    float: left;
    
}
#tect_title
{
    font-size: 30px;
    float: left;
    padding-top: 10px;
    
}
nav
{
    float: right;
    
}
.clearfix
{
    clear: both;
}
nav ul
{
    margin: 0;
    padding: 0;
    display: flex;
    padding-top: 5px;
}
nav ul li
{
    list-style: none;
    
}
nav ul li a
{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #262626;
    transition: .3s;
}
nav ul li a.active,
nav ul li a:hover
{
    background: #4c8a8a);
    color: white;
    border-radius: 15px;
}
@media (max-width: 1200px)
{
    header
    {
        margin: 20px;
    }
}
@media (max-width: 768px)
{
    .menu-toggle
    {
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: black;
    }
    .menu-toggle:before
    {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    .menu-toggle.active:before
    {
        content: '\f00d';
    }
    nav
    {
        display: none;
    }
    nav.active
    {
        display: block;
        width: 100%;
    }
    nav.active ul
    {
        display: block;
    }
    nav.active ul li a
    {
        margin: 0;
    }
}



/*--------Meed_Work--------*/
.div1
{
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    height: 500px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0.2);
    
}
#div1
{
 background-position: center;
   background-size: cover;
    background-image: url(../image/img1.jpg);   
}
#div2
{
    position: relative;
    width: 350px;
    height: 400px;
    margin: 20px 20px auto;
    padding: 10px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0.2);
    float: right;
       
}

.text
{
    font-size: 20px;
    color: gray;
    padding: 7px;
    padding-left: 15px;
    margin: 3px;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 2px 5px rgba(0,0,0.2);
}
#form
{
    text-align: center;
    float: right;
    margin-right: 40px;
}

.button {
  background-color: white;
  color: black;
  width: 260px;
  height: 40px;
    border-radius: 10px;
    margin-top: 30px;
    border: 0;
    box-shadow: 0 2px 5px rgba(0,0,0.2);
}

.button:hover {
  background-color: #555555;
  color: white;
}

@media (max-width: 1200px)
{
    .div1 
    {
        margin: 20px;
    }
}
@media screen and (max-width:640px)
{
   #div2
    {
        width: 90%;
        
    }
}



/*----------FOOTER---------*/
